

.counter__table{
	/* border: 1px solid #000; */
	border-collapse: collapse;
	font-size: 70%;
}
.counter__table th,td{
	border: 1px solid #000;
	text-align: center;
	padding: 1px;
}

.counter__table tr:nth-child(even) td {
  background: #eee;
}
.counter__table  td {
  background: #fff;
}
.counter__table--sum td{
  background: #fee !important;
}
.counter__table img{
	vertical-align: middle;
	max-width:2em;
}

.counter__table--image{
	border: none!important;
}

.counter__table--name{
	width: 160px!important;
}
.counter__table--number{
	width: 60px;
}
.counter__table--new{
	font-size: 150%;
	color: red;
	
}
